{{- $name := promptString "Enter your full name" -}}
{{- $email := promptString "Enter your email address" -}}
{{- $darwin_hostname := promptString "Hostname for macOS" -}}
[data]
    name = "{{ $name }}"
    email = "{{ $email }}"
    darwin_hostname = "{{ $darwin_hostname }}"
    [data.git]
        name = "{{ $name }}"
        email = "{{ $email }}"
    [data.github]
        sshKey = "{{ $email }} SSH key"
[gpg]
    recepients = "E7FDDD7C2AF6661D6AAC8E2A3E48CC55E3D9AA29"