#!/bin/sh

set -e

# Check environment

if [[ $EUID -eq 0 ]]; then
  echo "This script must not be run as root"
  exit 1
fi

cd {{ .chezmoi.sourceDir }}
pwd

###################### macOS start ######################

echo Updating Homebrew.
brew update
export HOMEBREW_NO_AUTO_UPDATE=1
brew upgrade || true
echo Installing essential packages.
brew bundle --verbose
BREW_PREFIX=$(brew --prefix)
ln -s "${BREW_PREFIX}/bin/gsha256sum" "${BREW_PREFIX}/bin/sha256sum" || true
git lfs install
sudo git lfs install --system

###################### macOS End ########################

# Universal
echo Running universal scripts.

echo Installing oh-my-zsh and its packages.
if [ ! -e "$HOME/.oh-my-zsh" ]; then
  sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi
curl -sL git.io/antibody | sh -s
if [ ! -e "$HOME/.oh-my-zsh/custom/plugins/zsh-dircolors-solarized" ]; then
  git clone --recursive git://github.com/joel-porquet/zsh-dircolors-solarized ~/.oh-my-zsh/custom/plugins/zsh-dircolors-solarized
fi

#############

echo "install-packages.sh complete"