#!/bin/zsh
# ANDROID TOOLS
export PATH="~/Library/Android/sdk/platform-tools:$PATH"

# Flutter
export PATH=$PATH:~/.development/flutter/bin

# nvm
export NVM_DIR="$HOME/.nvm"
  [ -s "/usr/local/opt/nvm/nvm.sh" ] && . "/usr/local/opt/nvm/nvm.sh"  # This loads nvm
  [ -s "/usr/local/opt/nvm/etc/bash_completion" ] && . "/usr/local/opt/nvm/etc/bash_completion"  # This loads nvm bash_completion

# pyenv
eval "$(pyenv init -)"

# rbenv
eval "$(rbenv init -)"

# fnm
eval "$(fnm env --multi)"
