.java-version
.DS_Store
.DS_Store?
.svn
*~
*.swp
*.orig
*.rbc
.idea
*.iml
.classpath
.project
.settings
.ruby-version
.vscode/
dump.rdb
main.tfvars
Thumbs.db
tags
log/
db/*.sqlite3
.bundle
.env
tmp/
config/local_env.yml
Session.vim
.powenv
node_modules/
*.local