[user]
  name = Jace Babin
  email = jbabin91@gmail.com
  logallrefupdates = true
	signingKey = ""
[core]
  attributesfile = ~/.gitattributes
  excludesfile = ~/.gitignore
  ignorecase = false
  pager = delta
[color]
  ui = true
[delta]
  features = decorations
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
[alias]
  cbr = symbolic-ref --short HEAD
	changed = show --pretty=\"format:\" --name-only
	co = checkout
	commend = commit --amend --no-edit
	count = shortlog -sn
	fm = fetch-merge
  g = grep --break --heading --line-number
	gi = grep --break --heading --line-number -i
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lt = log --tags --decorate --simplify-by-decoration --oneline
  please = push --force-with-lease
  stash-popf = !sh -c 'git stash show -p | git apply && git stash drop'
[grep]
  extendRegexp = true
  patternType = perl
  lineNumber = true
[push]
  default = simple
  followTags = true
[pull]
  rebase = true
[rebase]
  autosquash = true
  autostash = true
  instructionFormat = %d %s (%cr) <%an>
  preserve-merges = true
[rerere]
  enable = true
[status]
  showUntackedFiles = all
[apply]
	whitespace = nowarn
[help]
	autocorrect = 1
[submodule]
	fetchJobs = 4
[commit]
	template = ~/.dotfiles/general/git/template.txt
	gpgSign = false
[log]
	showSignature = false
[init]
    defaultBranch = main
[gpg]
	program = gpg
[tag]
	forceSignAnnotated = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
