#!/bin/zsh
alias cha='chezmoi apply'
alias chc='chezmoi cd'
alias chd='chezmoi data'
alias chdiff='chezmoi diff'
alias che='e ~/.config/chezmoi/chezmoi.toml'
alias chi='chezmoi init'
alias chu='chezmoi update'
alias chv='chezmoi verify'